<!-- Print every tag -->
<div class="container">

    <div class="rows">
      <div class="one-third column">
      </div>
      <div class="two-third columns">
        <h5>Search questions via tags</h5>
        <% @tags.each do |a| %>
        <a class="button" <%= link_to(a.name, tag_path( a )) %></a>
      <% end %>
      </div>
    </div>
</div>
